@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --primary: #fefefe ;
    --secondary: #eeeeee;
    --tertiary: #e08f2c;
}

html {
    
    scroll-behavior: smooth;
}

*{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

::selection {
    background-color: var(--tertiary); 
    color: white;                     
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--primary);
}

.container{
    width: 100%;
    height: 100vh;
}

.logo{
    width: 100px;
    height: 40px;
}

ul{
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;

}
nav{
    backdrop-filter: blur(50px);
    top: 0px;
    position: sticky;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    z-index: 1000;
    padding: 1rem 3rem;
}

main.content{
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

h1{
    
    font-size: 5rem;

}
h2{
    font-size: 2.5rem;

}
.btn{
    
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 7px;  
    color: black;
    transition: background-color 0.3s ease;
}
a{
    transition: color 0.5s ease;
}

a:hover{
    color: var(--tertiary);
}

.btn:hover{
    background-color: var(--tertiary);
    color: white;
    border: none;
    box-shadow: 0px 3px 15px black;
}


.about-me, .portfolio, .contact{
    width: 90%;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.about-me {
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    background-color: var(--secondary);
    
}



.about-me-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 2rem;
}

.about-me-img{
    width: 600px;
    height: 300px;
    object-fit: cover; 
    border-radius: 8px;
}


.about-me-content p {
    max-width: 600px;
    font-size: 1.25rem;
    
}

.portfolio-item{
    width: 15rem;
    height: 25rem;
    object-fit: cover; 
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.portfolio-item:hover{
    cursor: pointer;
    transform: scale(1.05); 
}

.portfolio-content {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.contact p {
    max-width: 800px;
    text-align: center;
}

.section-container h2 {
    text-align: center;
    margin-bottom: 30px;
}
